streamlit
pandas
numpy
plotly
matplotlib
scikit-learn
nltk
streamlit-autorefresh
langchain
langchain-core
langchain-community
faiss-cpu
sentence-transformers
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
email-validator
protobuf
statsmodels
